@{
    ViewData["Title"] = "Details";

    // Updated dummy product data with Rating and Key Features
    dynamic product = new
    {
        Name = "Space Explorer Set",
        Category = "Space",
        Color = "Black and White",
        Description = "Embark on interstellar adventures with the Space Explorer Set. This set features a detailed spacecraft, astronaut minifigures, and a lunar landscape for endless imaginative play.",
        Price = "149.99",
        ImageUrl = "/img/space_lego.jpeg",
        Rating = 4,
        KeyFeatures = new List<string> { "Includes 4 astronaut minifigures", "Detachable lunar lander", "Articulated robotic arm" }
    };
}


<div class="container py-5">
    <!-- Breadcrumb-like navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-item" asp-area="" asp-controller="Home" asp-action="Products">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">@product.Name</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-6">
            <!-- Product Image -->
            <img src="@product.ImageUrl" class="img-fluid" alt="@product.Name" />
        </div>

        <div class="col-md-6">
            <!-- Product Title & Rating -->
            <h1>@product.Name</h1>
            <div class="rating">
                @for (int i = 0; i < 5; i++)
                {
                    <span class="fa fa-star @(i < product.Rating ? "checked" : "")"></span> <!-- Dynamic class application for stars -->
                }
            </div>
            <!-- Product Price & Add to Cart Button -->
            <h3 class="my-4">$@product.Price</h3>
            <a class="btn" asp-area="" asp-controller="Home" asp-action="Cart" style="background-color: #00c3fc; color: #ffffff;">Add to Cart</a>
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Products">Back to List</a>

            <!-- Product Description -->
            <div class="mt-4">
                <!-- Added margin-top for spacing -->
                <h3>Description</h3>
                <p>@product.Description</p>
            </div>

            <!-- Key Features -->
            <div class="mt-4">
                <!-- Added margin-top for spacing -->
                <h3>Key Features</h3>
                <ul>
                    @foreach (var feature in product.KeyFeatures)
                    {
                        <li>@feature</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
